.row-memo {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000000;
  
    &:last-child {
      border-bottom: none;
    }
  
    &.head {
      text-transform: uppercase;
      font-weight: bold;
  
      .cell-memo {
        text-align: center;
      }
    }
  
    &:hover:not(.head) {
      background-color: rgba(#000000, .1);
    }
  }